
.navbar-form navbar-left{margin-left: 50px;}
.container{background-color: lightgray;}
body{background-color:white;
padding: 40px;}

nav{margin: 5px;}

/*body{border:solid; border-color: gray;
	border-width: 50px;
padding: 40px;}
